extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      input#message.form-control(type='text' name='message' placeholder='Enter message...' value=(undefined===user ? '' : user.username))
    
  if errors
   ul
    for error in errors
     li!= error.msg
